<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdau.hotelsystem.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.sdau.hotelsystem.domain.Menu">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="href" column="href" jdbcType="VARCHAR"/>
            <result property="spread" column="spread" jdbcType="TINYINT"/>
            <result property="hasChild" column="has_child" jdbcType="TINYINT"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="sort" column="sort" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,icon,
        href,spread,has_child,
        parent_id,sort
    </sql>
    <select id="selectAllByParentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from menu
        where
        parent_id = #{parentId,jdbcType=NUMERIC}
    </select>
    <select id="selectId" resultType="integer">
select id
from menu
</select>
</mapper>
