<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdau.hotelsystem.mapper.RoomChangeMapper">

    <resultMap id="BaseResultMap" type="com.sdau.hotelsystem.domain.RoomChange">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="orderId" column="order_id" jdbcType="INTEGER"/>
            <result property="originalRoom" column="original_room" jdbcType="VARCHAR"/>
            <result property="alterRoom" column="alter_room" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="changeUser" column="change_user" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,original_room,
        alter_room,remark,change_user,
        create_time,status
    </sql>
</mapper>
